@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  @apply bg-gray-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

#el1 {
  top: 116px;
  left: -49px;
  box-shadow: 0px 0px 50px #ff7917;
  background: linear-gradient(153.57deg, #ff7917 -24.3%, #ffdd2d 118.14%);
  border-radius: 50%;
  z-index: -2;
  @apply absolute w-[150px] h-[150px] md:w-[230px] md:h-[230px] opacity-30;
}

#el3 {
  position: absolute;
  bottom: 80px;
  right: 49px;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 20px #3eff97;
  background: linear-gradient(207.54deg, #00fff0 -6.54%, #3eff97 97.44%);
  transform: rotate(-42.37deg);

  /* border-radius: 50%; */
  z-index: -2;
  /* animation: scale 5s infinite ease-in-out; */

  @apply w-[100px] h-[100px] md:w-[200px] md:h-[200px] opacity-30;
}

#el2 {
  position: absolute;
  top: 20px;
  left: 400px;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 50px #ad00ff;
  background: linear-gradient(181.16deg, #ad00ff -26.31%, #ff5ce5 128.88%);
  z-index: -2;
  transform: rotate(-26.72deg);

  @apply hidden md:block w-[120px] h-[120px] md:w-[120px] md:h-[120px] opacity-30;
}

input {
  @apply block my-1 rounded-3xl p-2 w-full text-black outline-none bg-gray-200 px-4;
}
